<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.polyvi.xface.extension.messaging"
    version="1.0.2-dev">
    <name>Messaging</name>
    <description>xFace Messaging Extension</description>
    <license>GPLv3</license>
    <keywords>cordova,xface,messaging</keywords>

    <js-module src="www/Message.js" name="Message">
        <clobbers target="xFace.Message" />
    </js-module>

    <js-module src="www/MessageTypes.js" name="MessageTypes">
        <clobbers target="xFace.MessageTypes" />
    </js-module>

	<!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Messaging">
                <param name="android-package" value="com.polyvi.xface.extension.messaging.XMessagingExt"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.SEND_SMS" />
            <uses-permission android:name="android.permission.READ_SMS" />
			<uses-permission android:name="android.permission.RECEIVE_SMS" />
        </config-file>
		<js-module src="www/android/Messaging.js" name="Messaging">
            <clobbers target="xFace.Messaging" />
        </js-module>
		<js-module src="www/android/MessageFolderTypes.js" name="MessageFolderTypes">
            <clobbers target="xFace.MessageFolderTypes" />
        </js-module>
        <source-file src="src/android/XMessagingExt.java" target-dir="src/com/polyvi/xface/extension/messaging" />
     </platform>

     <!-- ios -->
     <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Messaging">
                <param name="ios-package" value="XMessagingExt"/>
            </feature>
        </config-file>
        <js-module src="www/Messaging.js" name="Messaging">
            <clobbers target="xFace.Messaging" />
        </js-module>
        <header-file src="src/ios/XMessagingExt.h" />
        <source-file src="src/ios/XMessagingExt.m" />
        <framework src="MessageUI.framework" />
     </platform>

    <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="Messaging">
                <param name="wp-package" value="Messaging"/>
            </feature>
        </config-file>
        <js-module src="www/Messaging.js" name="Messaging">
            <clobbers target="xFace.Messaging" />
        </js-module>
        <source-file src="src/wp/XMessagingExt.cs" />
    </platform>
</plugin>
